body {
    margin: auto;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../images/03_desaturated_lightest.jpg);
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo top-title header"
        "main main main"
        "footer footer footer";
        grid-gap: 0px;

    padding: 0;
    margin-bottom: 0;
    
}

.logo {
    grid-area: logo;
    padding: 0;
    padding-left: 20px;
    float: left;
    margin-bottom: 0;
        
}

.top-title {
    grid-area: top-title;
    padding: 0px;
    margin-bottom: 0;
}

.header {
    grid-area: header;
    display: grid;
    width: 100%;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    }

.main {
    grid-area: main;

    /* make background semi-transparent */
    background-color: rgba(255, 255, 255, .5);  
    border: solid 1px #CCC;
    
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    /* background-color: #ddd; */
}

.logo,  .top-title,  .header, .footer {
    background-color: white;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Responsive image rules */
.responsive {
    width: 100%;
    height: auto
}

/* Div to ensure that content on first page fill vertical space */
.info-text
{
    display: flex;
    flex-direction: column;
}

/* style bullets in main part of page (separate to navigation) */

ul.text {
    list-style: disc;
    display: list-item;
    border: none;
    margin-left: 20px;
    /* background-color: white; */
}

.single-spacing {
    padding: 0;

}

/* Navigation Links */
a.nav {font-weight: bold;}
a.nav:link, a.nav:visited {color: #AA0000;} /*dark red */
a.nav:hover {color: #604830; text-decoration: none;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} 
a:visited{color: #111177;} 
a:hover{color: #000;}    


@media(max-width: 767px)
{

    .wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo top-title "
            "header header"
            "main main "
            "footer footer";
            grid-gap: 0;

        
    }

}